<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="theme-color" content="#379237">
  <meta name="dicoding:email" content="mail.jerryjohnson@gmail.com">
  <link rel="apple-touch-icon" href="./icons/icon-192x192.png">
  <link rel="icon" href="./favicon.ico" />
  <link rel="manifest" href="./app.webmanifest">
  <title>PeduliLingkungan</title>
</head>

<body>
  <!-- Awal dari header -->
  <header>
    <!-- Awal dari navigator -->
    <nav-bar></nav-bar>
    <!-- Akhir dari navigator -->
  </header>
  <!-- Akhir dari header -->
  <main id="main-content"></main>
  <footer>
    <custom-footer></custom-footer>
  </footer>
</body>

</html>