.card {
  background-color: var(--first-color);
}
.card .btn {
  border: 3px solid var(--footer-color);
  background-color: white;
  color: black;
}

.card .btn:hover {
  background-color: var(--footer-color);
  color: white;
}
