.navbar,
.offcanvas,
.list-group-item {
  background-color: var(--navbar-color);
}
.brand-text {
  font-family: 'Bubblegum Sans', cursive;
  font-weight: 400;
  line-height: 1em;
  color: var(--log-color);
}

.navbar .nav-item .nav-link,
.list-group-item {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}
.navbar .nav-item .nav-link:hover,
.list-group-link:hover {
  color: var(--log-color);
}

.active {
  font-weight: 600;
  color: var(--log-color);
}

.offcanvas {
  width: 250px !important;
}

a.nav-link{
  margin-right: 20px;
}

a.d-flex.navbar-brand{
  align-items: center;
}

a.d-flex.navbar-brand span{
  padding-top: 5px;
}

div ul.navbar-nav.ms-auto li.nav-item a.active{
  font-weight: 800;
}