/* Responsivity untuk bagian dari Navbar */

@media screen and (min-width: 1200px) {
  html {
    font-size: 16px;
  }
  .container-tiga .card-hijau {
    width: 330px;
    height: 330px;
  }
  footer .first-footer {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 32px;
  }
}

@media screen and (min-width: 992px) {
  img {
    object-fit: cover;
  }
  .container-dua .row-dua {
    margin-top: 80px;
  }
  .container-dua .row-ketiga {
    margin-top: 80px;
  }
}

@media screen and (max-width: 499px){
  .navbar-brand span{
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 320px){
  .navbar-brand span{
    font-size: 1.4rem;
  }
}

@media screen and (min-width: 500px) {
  .container-all {
    margin: 0 50px;
  }
  .navbar-brand span{
    font-size: 2.5rem;
  }
}

@media screen and (min-width: 650px) and (max-width: 1200px){
  .container-all {
    margin: 0 100px;
  }
  footer .first-footer{
    grid-template-columns: 360px 1fr;
    gap: 32px;
  }
}

@media screen and (min-width: 600px) and (max-width: 992px) {
  .container-tiga .card-hijau{
    height: 400px;
    width: 400px;
  }
}

@media screen and (max-width: 992px) {
  h3,
  p {
    text-align: center;
  } 

  .container-dua .row-dua {
    flex-direction: column-reverse;
  }

  .container-satu .row{
    flex-direction: column-reverse;
  }

  a.nav-link{
    padding-left: 20px;
  }
  
  .nav-item{
    border-bottom: 1px solid rgb(173, 173, 173);
  }
}

@media screen and (max-width: 650px){
  footer .first-footer {
    grid-template-columns: 1fr;
    gap: 32px;
    padding: 40px 30px;
  }
}

/* Styling untuk bagian about page */

@media screen and (max-width: 1200px) {
  .about-pedulilingkungan {
    flex-direction: row;
    grid-template-rows: 350px 1fr;
  }

  .about-pedulilingkungan .pedulilingkungan-logo img {
    max-width: 320px;
  }

  .pedulilingkungan-description h1 {
    text-align: center;
  }

  .about-pedulilingkungan .pedulilingkungan-description p {
    text-align: center;
  }

  div.pedulilingkungan-logo {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 650px) {
  .about-pedulilingkungan .pedulilingkungan-logo img {
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .about-pedulilingkungan .pedulilingkungan-description h1 {
    text-align: left;
  }
  .about-pedulilingkungan .pedulilingkungan-description p {
    text-align: left;
  }
  .about-team {
    padding: 32px;
  }
  .team-description {
    text-align: left;
  }
}

@media screen and (min-width: 650px) {
  .pedulilingkungan-logo img {
    margin-bottom: 50px;
  }
  .pedulilingkungan-description {
    width: 80%;
  }
  .about-pedulilingkungan {
    align-items: center;
  }
}

@media screen and (min-width: 850px) {
  .team-profile {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 480px);
    gap: 56px;
    row-gap: 3.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .about-pedulilingkungan {
    flex-direction: column;
    grid-template-columns: 500px 1fr;
  }
}