@import url('https://fonts.googleapis.com/css2?family=Bubblegum+Sans&family=Inter:wght@400;500;600&family=Montserrat:ital,wght@0,400;1,600&display=swap');

:root {
  --first-color: #68b984;
  --font-color: #379237;
  --log-color: #54ac41;
  --footer-color: #344d67;
  --navbar-color: #f2f1ef;
}

.header-text-container {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: var(--font-color);
}

.paragph-text {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

.kolom {
  border: 1px solid;
}

/* responsive */

@media screen and (max-width: 768px) {
  .first {
    order: 1;
  }
  .second {
    order: 2;
  }
  .third {
    order: 3;
  }
  .fourth {
    order: 4;
  }
}
