.header-text-container {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: var(--font-color);
}

.pargph-text {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400;
}

/* mainan baru */
.hover-1 {
  overflow: hidden;
  position: relative;
  padding-bottom: 100%;
}

.hover-overlay-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transition: all 0.4s;
}

.hover-1 img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.hover-content-1 {
  position: relative;
  z-index: 99;
}

.hover-2 .hover-overlay-1 {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.1));
  border-radius: 30px;
}

.hover-2-description {
  width: 100%;
  position: absolute;
  bottom: 0;
  opacity: 0;
  left: 0;
  text-align: center;
  z-index: 99;
  transition: all 0.3s;
}

.hover-2:hover .hover-2-description {
  bottom: 8rem;
  opacity: 1;
}

.hover-2:hover .hover-overlay-1 {
  background: rgba(0, 0, 0, 0.6);
}
