.header-text-container {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  color: var(--font-color);
}

.pargph-text {
  font-family: 'Montserrat', sans-serif !important;
  font-weight: 400;
}

#berita{
  padding-bottom: 40px;
}

a.pargph-text{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

/* Awal dari container 3*/

.container-tiga {
  margin-top: 40px;
  margin-bottom: 60px;
}

.container-tiga h3 {
  font-style: normal;
  font-weight: 600;
  align-items: center;
  text-align: center;
  color: #379237;
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.container-tiga .card-hijau {
  padding: 10px;
  background-color: #68b984;
  height: 280px;
  width: 280px;
  margin: 0;
  border-radius: 30px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.container-tiga .card-danger {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-tiga .card-organic {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-tiga .card-anorganic {
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container-tiga .card-hijau img {
  height: 200px;
  width: 200px;
  object-fit: cover;
}

.container-tiga .card-hijau span {
  font-family: 'Montserrat' !important;
  font-size: 32px;
  color: #100703;
  font-weight: 600;
}

.container-tiga .row-kedua {
  margin: 0 100 0 100;
}

.changebg{
  background-color: green;
  opacity: 50%;
}

/* Akhir dari container 3 */

div.col-lg-5.col-md-6.mt-3.text-center.d-flex,
div.second.col-lg-5.col-md-6.text-center.d-flex,
div.col-lg-5.col-md-6.mt-3.text-center.d-flex{
  align-items: center;
}